@inherits LayoutComponentBase

<div class="app-background">
    <main class="mobile-container">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    Виникла непередбачена помилка.
    <a href="" class="reload">Перезавантажити</a>
    <a class="dismiss">🗙</a>
</div>